@use "../styles/theme.scss";

:local(.camera_change_button){
  position: absolute;
  top: 85px;
  right: 24px;
  line-height: 26px;
  letter-spacing: -1px;
  text-align: center;
  margin: auto;
  width: 65px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid var(--button-border-color);
  cursor: pointer;
}

:local(.text_left) { 
  text-align:left;
}
:local(.text_right) { 
  text-align:right;
}

:local(.camera_change_button > input){
  display: none;
  box-sizing: border-box;
  padding: 0;
}

:local(.camera_change_button > label){  
  display: block;
  height: 26px;
}

:local(.camera_change_button > label > span) {  
  display: block;
  padding: 0px 10px;
  cursor: pointer;
}
:local(.circle) {  
  position: absolute;
  width: 20px;
  height: 20px;
  background: #007ab8;
  top: 2px;
  left: 3px;
  border-radius: 50%;
}
:local(.active){
  left: auto;
  right: 4px;
  background: #7ed320;
}